body {
    font-family: 'Labrada', serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 20px;
}

.half-width img {
    width: 50%;
    padding-left: 30px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    color: aliceblue;
    padding: 10px 40px;
    border-radius: 5px;

}

.top-banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

.half-width p {
    text-align: justify;
}

.dream-section {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0%;
}

.experience-item {
    width: 50%;
    box-shadow: 10px 10px 400px grey;
    margin-left: 5%;
    margin-right: 5%;
    padding: 9px;
    border-radius: 10px;

}

.experience-area {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#orange {
    border-left: 5px solid orangered;
}

#blue {
    border-left: 5px solid blue;
}

#last-line {
    text-align: center;
    padding-top: 70px;
}